extends layout.jade
block content
    div.row.white-container                                      
        div.six.columns
            h5.center Image
            div.row
                img(src=item.image_url) 
                br  
            div(align = 'center').row
                b.inline= item.profile_owner_id + ': '
                = item.owner_caption
                br 
                b(style = 'color:red')= item.likes + ' likes'
                br
                small(style = 'color:green')= item.caption_time

        div.six.columns
            h5.center Posts
            div.box 
                - var user = {id:'item.user_id_', comment:'item.comment_', creation_time:'item.creation_time_'};
                - var n = 1;
                while n < 150
                    - var id = eval(user.id + n.toString());
                    - var comment = eval(user.comment + n.toString());
                    - if (id != "" && id !=" ") {
                        b.inline #{id} :                    
                        | #{comment}
                        hr
                    - }
                    - n++;

    div.row.div.blue-container
        h5.center Questions
        | Is there any cyberaggressive behavior in the online posts? Mark yes if there is at least one negative word/comment and or content with intent to harm someone or others.
        br
        input(type="radio", name="q1", value="0", class="no")
        b No 
        br
        input(type="radio", name="q1", value="1", class="yes")
        b Yes
        br
        | Is there any cyerbullying in the online post? Mark yes if there are negative words and or comment with intent to harm someone or other, and the posts include two or more repeated negativity against a victim that cannot easily defend him or herself
        br
        input(type="radio", name="q2", value="0", class="no")
        b No
        br
        input(type="radio", name="q2", value="1", class="yes")
        b Yes
  
    div(align = 'center')  
        a.button.not-active#next-btn Next
        br
        small= '( Next button is deactivated untill answering the two questions )'
        br
        br
        
        
    input(type='hidden', name='profile_owner_id', value=item.profile_owner_id)
    input(type='hidden', name='caption_time', value=item.caption_time)