extends layout.jade

block content
    div.blue-container
        div.white-container
            table.u-full-width
                thead
                    tr
                        th Profile Owner ID
                        th Caption Time
                        th Question1
                        th Question2
                tbody
                each res in surveyRes
                    tr
                        td= res.profile_owner_id
                        td= res.caption_time
                        - if (res.q1 == 1){
                            td(style = 'color:red')= 'Yes'
                        - } else {
                            td(style = 'color:blue')= 'No'
                        - }
                        - if (res.q2 == 1){
                            td(style = 'color:red')= 'Yes'
                        - } else {
                            td(style = 'color:blue')= 'No'
                        - }
                    
                    
                    






